<% provide(:title, '使用方法') %>
<div class="row">
  <h2>使用方法</h2>
  <div class="col-md-10 col-md-offset-1 mypage-edit" style="text-align:center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aEO7jAC037Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>