<% provide(:title, 'トークルーム') %>
<div class="row">
  <h2>ルーム一覧</h2>
  <div class="col-md-10 col-md-offset-1 mypage-edit">
    <div class="wrapper">
      <div class="column talk">
        <div class="info">
          <h2>トーク</h2>
          <table>
            <thead>
              <tr>
                <th>相手からのメッセージ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Aさん</td>
              </tr>
            </tbody>
          </table>

          <br>
          <table>
            <thead>
              <tr>
                <th>トーク中</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Bさん</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="column exit">
        <div class="info">
          <h2>退出中</h2>
        </div>
      </div>
    </div>
  </div>
</div>