@import "bootstrap-sprockets";
@import "bootstrap";

// /* mixins, variables, etc. */

// $gray-medium-light: #eaeaea;

// /* universal */

body {
  // padding-top: 60px;
  background-color: rgb(253, 246, 249);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

// /* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  // color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


// /* header */

// #logo {
//   float: left;
//   margin-right: 10px;
//   font-size: 1.7em;
//   color: white;
//   text-transform: uppercase;
//   letter-spacing: -1px;
//   padding-top: 9px;
//   font-weight: bold;
//   &:hover {
//     color: white;
//     text-decoration: none;
//   }
// }

// /* footer */

// footer {
//   margin-top: 45px;
//   padding-top: 5px;
//   border-top: 1px solid $gray-medium-light;
//   color: $gray-light;
//   a {
//     color: $gray;
//     &:hover {
//       color: $gray-darker;
//     }
//   }
//   small {
//     float: left;
//   }
//   ul {
//     float: right;
//     list-style: none;
//     li {
//       float: left;
//       margin-left: 15px;
//     }
//   }
// }

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.fh5co-nav {
  padding-bottom: 50px;
}

header {
  background-image: url("/images/d-ai2.jpg");
  height: 500px;
  background-size: cover;
  // background: rgba(255,255,255,0.5);
}

.matching-btn {
  margin-top: 30px;
}

.alt-table-responsive {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}

.register-box {
  text-align: center;
}

.login-logo {
  margin-bottom: 30px;
}

.mypage {
  background-color: rgb(240, 236, 240);
  padding: 40px;
}

.edit-mypage-btn {
  text-align: center;
}

.mypage-edit {
  background-color: rgb(240, 236, 240);
  padding: 40px;
}

// form エラーメッセージ
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}
// ここまで

.user_name {
  color: rgba(0, 0, 0, 0.7);
}

.p-first-msg {
  padding-top: 15px;
}